@font-face {
  font-family: 'Gagalin';
  src: url('../fonts/Gagalin-Regular.otf') format('opentype');
}

.aboutpage-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* start by default for desktop */
  justify-content: flex-start;
  min-height: 100vh;
  padding: 100px 20px 20px 320px; /* left push for web */
  box-sizing: border-box;
}

.Abouthead {
  font-family: 'Gagalin', sans-serif;
  font-size: 6rem;
  margin: 0 0 2rem 0;
  color: white;
  text-align: start;
}

.aboutpage-wrapper p {
  color: white;
  text-align: start;
  font-family: Arial, sans-serif;
  line-height: 1.5;
  font-size: 1.5rem;
  max-width: 700px;
  margin: 0;
}

.personalinfo {
      display: block;
      gap: 40px;
      margin-top: 40px;
      align-items: flex-start;
      font-family: 'Gagalin', sans-serif;
    }


.text-info, .img-flex-container {
      max-width: 800px;
    }

.personal-info, .interests {
      font-size: 2.5rem;
      margin-bottom: 0.5rem;
      color: #ffffff;
    }

.details, .all-interests {
      
      padding: 0;
      margin: 0;
      font-family: Arial, sans-serif;
      margin-top: 20px;
      font-size: 1.3rem;
    }

.details li, .all-interests li {
      margin-bottom: 8px;
    }


@media (max-width: 568px) {
  .aboutpage-wrapper {
    padding: 40px 20px;
    align-items: center; 
    text-align: center;
  }

  .Abouthead {
    margin-top: 100px;
    font-size: 3.5rem;
    text-align: center;
  }

  .aboutpage-wrapper p {
    font-size: 1.2rem;
    text-align: center;
    width: 90vw;
    max-width: 568px;
  }

  .personalinfo {
        margin-top: 100px;
        flex-direction: column;
        align-items: center;
        gap: 20px;
      }

  .text-info, .img-flex-container {
        max-width: 100%;
      }

  .personal-info, .interests {
        text-align: center;
      }
}