@font-face {
  font-family: 'Gagalin';
  src: url('../fonts/Gagalin-Regular.otf') format('opentype');
}


.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
  margin-left: 250px; 
  box-sizing: border-box;

}

.contact-section h2 {
  color: #365b6d;
  font-family: 'Gagalin';
  font-size: 5rem;
  margin-bottom: 40px;

  padding: 10px 30px;
  text-align: center;
}


.contact-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  max-width: 700px;
  width: 100%;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  padding-right: 80px;
}


.linkedin {
  display: flex;
  justify-content: center;
  align-items: center;
}



.socials1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-items: center;
  align-items: center;
}

.socials1 a {
  text-decoration: none;
  color: #000000;
  transition: color 0.3s;
}

.socials1 a:hover {
  color: #289dd2;
}


.form-container {
  padding-left: 20px;
}

form label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
  color: #444;
}

input,
textarea {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  border: 1px solid #000;
  border-radius: 8px;
  resize: vertical;
  font-size: 16px;
}

textarea {
  min-height: 120px;
  margin-bottom: 20px;
}



.success,
.error {
  text-align: center;
  margin-top: 15px;
  display: none;
}

.success {
  color: green;
}

.error {
  color: red;
}


@media (max-width: 1838px) {
  .contact-section {
    margin-left: 0;
    padding: 60px 20px;
  }

  .contact-grid {
    grid-template-columns: 1fr;
  }

  .linkedin {
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  .form-container {
    padding-left: 0;
  }

  .social-box {
    max-width: 100%;
  }
}
@media (max-width: 320px) {

.contact-section h2 {

  font-size: 3rem;

}
}