@font-face {
  font-family: 'Gagalin';
  src: url('../fonts/Gagalin-Regular.otf') format('opentype');
}

input[type=text], select, textarea {
  
  width: 100%;
  border: 1px solid #000000; 
  border-radius: 4px;
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}


input[type=submit] {
  background-color: #365b6d;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  padding: 12px 20px;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  
}


input[type=submit]:hover {
  background-color: #45a049;
}


.container-contact {
  border-radius: 5px;
  margin-left: 300px;
  margin-top: 0;

}
 form{
  padding: 130px;
}

.container-contact label {
    color: #000000;
}

.container-contact h2 {
    color: #365b6d;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gagalin';
    font-size: 5rem;
    align-items: start;
}



@media (max-width: 1600px) {
  .container-contact {
    margin: 20px;
    margin-top: 0;
    padding: 20px;
  }

  input[type=submit] {
    width: 100%;
  }

  .container-contact h1 {
    font-size: 3rem;
    text-align: center;
  }
}