@font-face {
  font-family: 'Gagalin';
  src: url('../fonts/Gagalin-Regular.otf') format('opentype');
}

body {
  background-color: #f2f1ec;
  color: white;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
    max-width: 100%;
  overflow-x: hidden;
}

.homepage-wrapper {
  display: flex;
  min-height: 100vh;
}

.download a {
  text-decoration: none;
  color: #365b6d;
}

.download  {
  width: 100px;
  background-color: #b29e84;
  color: #253439;
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 2.2em;
  font-family: 'Gagalin', sans-serif;
}

.download a:hover {
  color: #289dd2;
}

.container {
  flex: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;

}


.profile-img img {
  display: flex;
  position: absolute;
  left: 580px;
  bottom: 250px;
  min-width:300px;
  height: 380px;
  object-fit: cover;
  transform: rotate(-7deg);
  border-radius: 90px;
  margin-bottom: 1.5rem;
  border: 2px solid #000000
}

.name, .surname {
  
  font-size: 6rem;
  font-family: 'Gagalin', sans-serif;
  margin: 0.2rem 0;
  color: #365b6d;
}

.name{
  position: relative;
  left: 100px;
}

.surname {
  position: relative;
  left: 300px;
}

.intro {
  position: relative;
  left: 420px;
  top: 50px;
  font-size: 1.5rem;
  margin: 1rem 0;
  width: 760px;
  height: 100px;
  color: #2f4b57;
}

.highlight {
  color: #41c1ba;
  font-weight: bold;
}

.desc {
  position: relative;
  left: 300px;
  margin-top: 0;
  font-size: 1.4rem;
  text-align: center;
  max-width: 400px;
  margin-bottom: 1.5rem;
  color: #2f4b57;
}


.nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 250px;
  background-color: #f2f1ec;
  border: 2px solid #365b6d;
  color: #365b6d;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
 
}

.logo {
  font-family: 'Gagalin', sans-serif;
  font-size: 2rem;
  text-align: center;
  font-size: 5.8rem;
}

.hire-me {
  font-weight: bold;
  
}

.nav-links a{
 text-decoration: none;
 color: #365b6d;
}
.nav-links {
  list-style: none;
  padding: 0;
  margin: 2rem 0;
  text-align: center;
  font-family: 'Gagalin', sans-serif;
  color: #365b6d;
}

.nav-links li {
  margin: 1rem 0;
  font-size: 2.8rem;
}

.nav-links a:hover {
    color: #289dd2;
}



.socials {
  display: flex;
  justify-content: space-around;
  padding-top: 1rem;
  border-top: 2px solid #365b6d;
  margin-bottom: 20px;
 

}

.socials a{
  color: #365b6d;
  text-decoration: none;
}

.socials a:hover {
  color: #289dd2;
}


.burger {
  display: none;
}

@media (max-width: 1600px) {  
.homepage-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: auto;
   
}

.burger {
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  background: none;
  border: none;
  outline: none;
  
}

.burger span {
  display: block;
  position: relative;
  z-index: 1999;
  width: 30px;
  height: 4px;
  margin: 6px auto;
  background-color: #333;
  transition: 0.3s ease;
  transform-origin: center;
}

/* When toggled */
.burger.change .bar1 {
  transform: rotate(-45deg) translate(-6px, 6px);
}

.burger.change .bar2 {
  opacity: 0;
}

.burger.change .bar3 {
  transform: rotate(45deg) translate(-6px, -6px);
}
  

.name, .surname {
  position: relative;
  left: 0px;
  font-size: 3.5rem;
  font-weight: bold;
  font-family: 'Gagalin', sans-serif;
  margin: 0.2rem 0;
  text-shadow: 1px 1px 3px black;
}


.profile-img img {
  position: relative;
  left: 0;
  bottom: 1px;
  margin-top: 20px;
  min-width:130px;
  height: 130px;
  object-fit: cover;
  transform: rotate(0deg);
  border-radius: 10px;
  margin-bottom: 1.5rem;


}

.intro {
  position: relative;
  left: 5px;
  top: 2px;
  width: 180px;
  font-size: 1.5rem;
}

.desc {
  position: relative;
  left: 5px;
  top: 2px;
  width: 180px;
  font-size: 1.0rem;
  text-align: center;
  max-width: 400px;
  margin-top: 20px;
  margin-bottom: 1.5rem;
  
}


.nav {
    display: none;
  }

  
.download {
    order: 2;
    width: 100%;
    height: 90px;
    writing-mode: horizontal-tb;
    padding: 0;
    font-size: 1.6rem;
    
  }


.nav.nav-open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 60%;
    background-color: #c7c7c7;
    z-index: 1000;
    padding: 2rem 1rem;
    
  }

  .nav .socials {
    display: none;
  }

}

