body {
    background-color: #253439;
    padding: 0;

}

.Homepage {
  display: flex;
  border: 2px solid forestgreen;
}


.burger {
 display: block;
 border: 2px solid red;
 float: right;
 justify-content: end;
 cursor: pointer;

}

.bar1, .bar2, .bar3 {
  background-color: #140707;
  width: 35px;
  height: 5px;
  margin: 6px 0;
  transition: 0.4s;

}

.burgers .bar1 {
    transform: translate(0,11px) rotate(-45deg);
}

.burgers .bar2 {
  opacity: 0;
}

.burgers .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}


.download {
  min-height: 500px;
  border: 2px solid red;
  font-size:  2em;
  writing-mode: vertical-lr;
  text-orientation: upright;

}

.home-page {
  display: flex;
  justify-content: center;
  min-height: 300px;
  min-width: 4x;
  border: 2px solid blue;
}

.home-page {
 
}
  

.page2{
    height: 100vh;
    background-color: #314d57;
}

@font-face {
    font-family: 'Gagalin';
    src: url('fonts/Gagalin-Regular.otf') format('opentype');
  }


/* ====== Tablet Styles (≥ 600px) ====== */
@media (min-width: 600px) {
  body {
    background-color: #e0f7fa;
  }

  main {
    max-width: 700px;
  }
}

/* ====== Desktop Styles (≥ 1024px) ====== */
@media (min-width: 1024px) {
  body {
    background-color: #fff;
    padding: 2rem;
  }

  header, footer {
    text-align: left;
    padding: 2rem;
  }

  main {
    max-width: 900px;
  }
}