

@media (max-width: 568px) {

    .portfolio {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        border: 3px solid ;
    }

    .portfolio-box {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 800px;
    gap: 20px;
    align-items: center;
    }

    .project1, .project2 ,.project3 {
        border: 2px solid;
        width: 100px;
        height: 50px;
        padding: 20px;
        justify-content: center;
    }


    .project1-btn button {
        width: 80px;
        height: 20px;
        font-size: 0.8rem;
    }
}
