@font-face {
  font-family: 'Gagalin';
  src: url('../fonts/Gagalin-Regular.otf') format('opentype');
}



.project {
  display: grid;
  grid-template-rows: repeat(auto-fit,minmax(220px, 1fr));
  max-width: 1300px;
  margin-left: 350px;
  color: black;
}

