@font-face {
  font-family: 'Gagalin';
  src: url('../fonts/Gagalin-Regular.otf') format('opentype');
}

.my-projects {
    width: calc(100% - 300px); 
  margin-left: 300px;
  font-size: 5rem;
  font-family: 'Gagalin', sans-serif;
  color: #365b6d;
  display: flex;
  justify-content: center;
  align-items: center;
 
}


.progress {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  margin-bottom: 300px;
  width: calc(100% - 300px); 
  margin-left: 300px;
}

.progress h1{
  color: #000;
  font-family: ' sans-serif';
  padding: 10px;
    border: 2px solid #365b6d;


}




.progress-box {
  display: flex;
  justify-content: center;
  width: calc(100% - 300px); 
  margin-left: -150px;
  gap: 40px;
  height: 450px;
  
}

.progress-card {
  padding: 20px;
  border: 2px solid #365b6d;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 250px;
 
}

.progress-card img {
  width: 100%;
  height: 300px;
  object-fit: contain;
}



.progress-btns {
  display: flex;
  gap: 10px;
  margin-top: -50px;

}

.logo-row {
  display: flex;
  justify-content: center;
  gap: 1px;
  margin: -100px 30px;

}

.logo {
  height: 10px;
  
}

.progress-btns button {
  width: 100px;
  height: 35px;
  font-size: 1rem;
  background-color: #365b6d;
  color: #ffffff;
  font-weight: 900;
  font-size: 1.1rem;
 
  cursor: pointer;
  border-radius: 999px;
}

.progress-btns button:hover{
    background-color: #000000;
}
@media (max-width: 568px) {
  .my-projects,
  .progress,
  .progress-box {
  
    width: 100%;
    margin-top: 600px;
    margin-bottom: 550px;
    margin-left: 0px;
    margin-right: 35px;
   
  }

  .my-projects {
    font-size: 2.5rem;
    text-align: center;
    justify-content: center;
    margin: 30px 0; 
  }

  .progress {
    padding: 30px 20px;
    margin: 30px 0; 
  }

  .progress h1 {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 20px;
  }

  .progress-box {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
  }

  .progress-card {
    width: 90%;
    max-width: 280px;
    padding: 15px;
    gap: 55px;
    height: auto;
    border-radius: 30px;
  }

  .progress-card img {
    height: 190px;
    
  }

  .progress-btns {
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  .progress-btns button {
    width: 100%;
    height: 40px;
    font-size: 1rem;
  }
}