@font-face {
  font-family: 'Gagalin';
  src: url('../fonts/Gagalin-Regular.otf') format('opentype');
}


#jpt {
    width: 100px;
}

.stack {
    padding: 0;
    margin-left: 0;
}

.stack h2 {
    font-size: 5rem;
    color: #365b6d;
    font-family: 'Gagalin';
    display: flex;
    justify-content: center;
    margin-left: 250px;    
}


.logo-stack {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-left: 250px;  
    padding-left: 200px;
    gap: 50px;

}

.logo-stack img {
    border-radius: 19px;
    height: 100px;
    width: auto;
    transition: transform 0.2s ease;
    background-color: #f5f5f5;
    box-shadow: 0 12px 6px rgba(0, 0, 0, 0.1);
}

.logo-stack img:hover {
      transform: translateY(-10px);
    }


.stack img {
  padding: 20px;
}

@media (max-width: 1840px) {
    .stack h2 {
    font-size: 5rem;
    margin-left: 0px;    
}

    .logo-stack {
        margin-left: 0;
    }

}


/* Extra large screens (1440px and up) */
@media (max-width: 1440px) {
    .stack h2 {
    font-size: 4rem;
    margin-left: 0px;    

}

    .logo-stack {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

}

/* Large laptops (1366px and down) */
@media (max-width: 1366px) {
.stack h2 {
    font-size: 4rem;
    margin-left: 0px;    

}

.logo-stack {
  
}
}

/* Tablets and small laptops (1024px and down) */
@media (max-width: 1024px) {
        .stack h2 {
    font-size: 4rem;
    margin-left: 0px;    

}

    .logo-stack {
     display: grid;
     grid-template-columns: 1fr 1fr;
     padding-left: 140px;
}

.logo-stack img{
    border: 3px solid saddlebrown;

}

}

/* Small tablets and large phones (768px and down) */
@media (max-width: 768px) {
    .stack h2 {
    font-size: 4rem;
    margin-left: 0px;    

}

    .logo-stack {
     display: grid;
     grid-template-columns: 1fr 1fr; 
    

}
   
}

/* Phones (480px and down) */
@media (max-width: 480px) {
    .stack h2 {
    font-size: 3rem;
    margin-left: 0px;    
 
}

    .logo-stack {
    border:  2px solid rgb(165, 0, 0);
    margin-left: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

    .logo-stack img {

        width: 65px;
        height: 65px;
    }
    #jpt {
        width: 65px;
    }
}