@font-face {
  font-family: 'Gagalin';
  src: url('../fonts/Gagalin-Regular.otf') format('opentype');
}


.stack {
    min-height: 100vh;
    margin-bottom: -600px;

}

.stack h1 {
    font-size: 5rem;
    color: #365b6d;
    font-family: 'Gagalin';
    display: flex;
    justify-content: center;
  
    
}

  

.logo-row {
    display: grid;
    grid-auto-flow: column;
    gap: 100px;
    align-items: center;           /* Vertically align logos */
    justify-content: center;   
    padding: 100px;
    width: auto;
}

.logo-row img {
    height: 100px;
    width: auto;
}

.logo-row img:hover {
      transform: translateY(-10px); /* move up by 10px on hover */
    }