@font-face {
  font-family: 'Gagalin';
  src: url('../fonts/Gagalin-Regular.otf') format('opentype');
}


.stack {
    padding: 0;

    margin-left: 0;

}

.stack h2 {
    font-size: 5rem;
    color: #365b6d;
    font-family: 'Gagalin';
    display: flex;
    justify-content: center;
    
}


.logo-stack {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    gap: 50px;
    margin-left: 0px;
    padding-left: 100px;
}

.logo-stack img {
    height: 100px;
    width: auto;
    transition: transform 0.2s ease; /
}

.logo-stack img:hover {
      transform: translateY(-10px);
    }


.stack img {
    border: 2px solid black;
    padding: 50px;
}

@media (max-width: 1600px) {
.stack h2 {
    font-size: 4rem;
    color: #365b6d;
    font-family: 'Gagalin';
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}


.logo-stack {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
}


}
@media (max-width: 600px) {
.stack h2 {
    font-size: 3rem;
    color: #365b6d;
    font-family: 'Gagalin';
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}


}