body {
    background-color: #253439;
    margin: 0;
    padding: 0;
    
}

.sideBar {
    position: fixed;
    width: 100%;
    padding: 0;
    
    
}

.sideBar ul {
    display: flex;
    list-style: none;
    justify-content: center;
    font-family: 'Gagalin';
    gap: 1px;
}


.sideBar a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: small;
    padding-left: 14px;
}


.download {
    display: flex;
    justify-content: center;
    align-items: center;
    writing-mode: vertical-rl;
    text-orientation: upright;
    width: 7vh;
    color: #fdfcf9;
    background-color: #b29e84;
    height: 100%;
    font-family: 'Gagalin';
}

.download h2 {
    font-family: 'Gagalin';
    font-size:5vh;
    
}

@font-face {
    font-family: 'Gagalin';
    src: url('fonts/Gagalin-Regular.otf') format('opentype');
  }


.name {
    font-family: 'Gagalin';
    position: absolute;
    left: 200px;
    top:250px;
    font-size: 3.0vh;
    color: aliceblue;
} 

.surname {
    font-family: 'Gagalin';
    position: absolute;
    left: 210px;
    top:280px;
    font-size: 3.0vh;
    color: aliceblue;
} 


.about {
    position:absolute;
    font-family: 'Gagalin';
    left:180px;
    top: 380px;
    font-size: 1.4vh;
    color: aliceblue;
}

.eng {
    position:absolute;
    font-family: 'Gagalin';
    left:230px;
    top: 400px;
    font-size: 1.4vh;
    color: green;
}

.des {
    position:absolute;
    left:200px;
    top: 450px;
    font-size: 1.4vh;
    color: #fdfcf9;

}


.page2{
    height: 100vh;
    background-color: #253439;
}